@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-inter: "Inter", sans-serif;
    --f-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0d0e11;
}

/* NAVBAR */

nav {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    background-color: #0d0e119f;
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo > h3 {
    color: white;
    font-family: var(--f-inter);
    font-weight: 400;
}

/* LINKS */

.links {
    width: 360px;
    font-family: var(--f-inter);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.links > a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transition: color 300ms;
}

.links:has(:hover) .link:not(:hover) {
    color: rgb(150, 150, 150);
}

/* GET STARTED BUTTON */

.call-to-action-button-navbar {
    border: 0;
    font-size: 1rem;
    font-family: var(--f-inter);
    background-color: rgb(196, 233, 45);
    height: 45px;
    padding-inline: 20px;
    border-radius: 0.8rem;
    border-top: 1px solid rgba(255,255,255,0.07);
    border-bottom: 1px solid rgba(255,255,255,0.03);
    cursor: pointer;
    transition: background-color 300ms;
}

.call-to-action-button-navbar:hover {
    background-color: rgb(170, 199, 52);
}

/* MAIN CONTENT */

/* main {

} */

/* MAIN HEADER */

.main-header {
    padding-top: 160px;
    background-color: #0d0e11;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-header-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 500px;
    background: url(../images/main-header-image.avif) no-repeat;
    background-size: contain;
    background-position: bottom;
}

.small-title-main-header {
    width: max-content;
    background-color: #2b2b2d5e;
    color: white;
    font-family: var(--f-poppins);
    font-weight: 200;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.main-header-title {
    font-family: var(--f-inter);
    color: white;
    font-size: 4.2rem;
    font-weight: 400;
}

.main-header-paragraph {
    color: white;
    font-family: var(--f-inter);
    font-size: 1.2rem;
    font-weight: 200;
    width: 600px;
    text-align: center;
    line-height: 30px;
}

.main-header-email-address {
    width: 450px;
    height: 55px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    background-color: rgba(40, 40, 40, 0.2);
    border-radius: 1.2rem;
    padding-right: 6px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: border 300ms;
}

.main-header-email-address:focus-within {
    border: 1px solid rgba(195, 233, 45, 0.653);
}

.email-address-input {
    height: 100%;
    border: 0;
    padding-left: 18px;
    font-family: var(--f-inter);
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    color: white;
}

.get-notified-button {
    height: 42px;
    padding-inline: 15px;
    font-size: 1rem;
    border-radius: 0.8rem;
    border: 0;
    background-color: rgb(196, 233, 45);
    font-family: var(--f-inter);
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.03);
    transition: background-color 300ms;
}

.get-notified-button:hover {
    background-color: rgb(205, 248, 36);
}

/* FEATURES */

.features {
    border-radius: 2rem 2rem 0 0;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f6f7fa;
    display: flex;
    justify-content: center;
}

.features-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.small-title-features {
    width: max-content;
    background-color: #2b2b2d1e;
    color: black;
    font-family: var(--f-poppins);
    font-weight: 300;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.feature-header {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--f-inter);
}

.feature-itself {
    margin-top: 25px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.feature {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
    font-family: var(--f-inter);
}

.feature-three {
    grid-column: 3 / 1;
}

/* FEATURE ONE */

.feature-one {
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.feature-one-image {
    display: flex;
    justify-content: center;
}

.feature-one-image > img {
    width: 70%;
}

.feature-one-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 40px;
}

.feature-one-text-title {
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
}

.feature-one-text-paragraph {
    color: rgb(116, 119, 129);
    font-weight: 300;
    line-height: 25px;
}

.get-started-feature-button {
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
    font-family: var(--f-inter);
    font-size: 1rem;
    background: linear-gradient(134deg, rgb(206, 239, 76) 0%, rgb(231, 255, 143) 100%);
}

.get-started-feature-button-text {
    font-weight: 500;
    transform: translateX(9px);
    transition: transform 300ms;
}

.get-started-feature-button-svg {
    width: 11px;
    height: 11px;
    opacity: 0;
    transform: translateX(15px);
    transition: transform 300ms, opacity 300ms;
}

.get-started-feature-button:hover {
    border: 1px solid rgb(177, 222, 0);
    background: linear-gradient(134deg, rgb(231, 255, 143) 0%, rgb(231, 255, 143) 100%);
}

.get-started-feature-button:hover .get-started-feature-button-text {
    transform: translateX(0);
}

.get-started-feature-button:hover .get-started-feature-button-svg {
    transform: translateX(0);
    opacity: 1;
}

/* FEATURE TWO */

.feature-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;
}

.feature-two-text {
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 40px;
}

.feature-two-image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.feature-two-image > img {
    width: 90%;
}

/* FEATURE THREE */

.feature-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}

.feature-three-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feature-three-image > img {
    width: 50%;
}

.feature-three-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.feature-three-text-title {
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}

.feature-three-text-paragraph {
    color: rgb(116, 119, 129);
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    width: 550px;
}

/* TESTIMONIALS */

/* .testimonials {
    padding-block: 100px 50px;
    background-color: #f6f7fa;
    display: flex;
    justify-content: center;
}

.testimonials-inner {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.small-title-testimonials {
    width: max-content;
    background-color: #2b2b2d1e;
    color: black;
    font-family: var(--f-poppins);
    font-weight: 300;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.testimonials-left {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-family: var(--f-inter);
}

.testimonials-left > h2 {
    font-size: 2.2rem;
    font-weight: 400;
}

.testimonials-left > p {
    font-weight: 300;
    width: 90%;
} */

/* PRICING */

.pricing {
    padding-block: 120px 100px;
    background-color: #f6f7fa;
    display: flex;
    justify-content: center;
}

.pricing-inner {
    width: 75%;
}

.pricing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.small-title-pricing {
    width: max-content;
    background-color: #2b2b2d1e;
    color: black;
    font-family: var(--f-poppins);
    font-weight: 300;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.pricing-text > h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--f-inter);
}

.pricing-themselves {
    margin-top: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

/* PRICING ITSELF */

.pricing-itself {
    padding: 30px;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-family: var(--f-inter);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}

.pricing-itself-type > h4 {
    width: max-content;
    background-color: #2b2b2d13;
    color: black;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 0.5rem;
}

.pricing-itself-price-includes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.pricing-itself-price {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.pricing-itself-price > h2 {
    font-size: 3rem;
    font-weight: 800;
}

.pricing-itself-price > span {
    font-size: 0.8rem;
    color: grey;
}

.pricing-itself-includes {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pricing-itself-includes > h4 {
    font-weight: 500;
}

.pricing-itself-includes-divider {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* CHOOSE PLAN BUTTON */

.choose-plan-button {
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
    font-family: var(--f-inter);
    font-size: 1rem;
    background: linear-gradient(134deg, rgb(206, 239, 76) 0%, rgb(231, 255, 143) 100%);
}

.choose-plan-button-text {
    font-weight: 500;
    transform: translateX(9px);
    transition: transform 300ms;
}

.choose-plan-button-svg {
    width: 11px;
    height: 11px;
    opacity: 0;
    transform: translateX(15px);
    transition: transform 300ms, opacity 300ms;
}

.choose-plan-button:hover {
    border: 0.1px solid rgb(177, 222, 0);
    background: linear-gradient(134deg, rgb(231, 255, 143) 0%, rgb(231, 255, 143) 100%);
}

.choose-plan-button:hover .choose-plan-button-text {
    transform: translateX(0);
}

.choose-plan-button:hover .choose-plan-button-svg {
    transform: translateX(0);
    opacity: 1;
}

/* THE MIDDLE */

.pricing-premium {
    background-color: #0d0e11;
}

.pricing-premium > .pricing-itself-type {
    width: max-content;
    background-color: #cff1532e;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.pricing-premium > .pricing-itself-type > svg {
    width: 18px;
    height: 18px;
}

.pricing-premium > .pricing-itself-type > h4 {
    padding: 0;
    background-color: transparent;
    color: rgb(177, 222, 0);
}

.pricing-premium > .pricing-itself-price-includes > .pricing-itself-price > h2,
.pricing-premium > .pricing-itself-price-includes .pricing-itself-includes > h4  {
    color: white;
}

.pricing-premium > .pricing-itself-price-includes .pricing-itself-includes > hr {
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* FAQ */

.faq-container {
    padding-block: 50px;
    background-color: #f6f7fa;
}

.faq-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.small-title-faq {
    width: max-content;
    background-color: #2b2b2d1e;
    color: black;
    font-family: var(--f-poppins);
    font-weight: 300;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.faq-container-text > h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--f-inter);
}

.faq-themselves {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.faq-themselves-inner {
    width: 52%;
}

.faq {
    height: 65px;
    font-family: var(--f-inter);
    overflow: hidden;
    transition: height 300ms;
}

.question {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: 65px;
    column-gap: 10px;
    padding-inline: 0 10px;
    cursor: pointer;
}

.question-itself {
    font-weight: 500;
}

.question-svg {
    width: 20px;
    height: 20px;
    transition: transform 300ms;
}

.answer {
    padding-block: 8px 20px;
    width: 90%;
    font-weight: 300;
}

.faq-js {
    height: 131px;
}

.faq-js > .question > .question-svg {
    transform: rotateZ(-180deg);
}

.faq-divider {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: 300ms;
}